@charset "UTF-8";

.makeBoard-text {
	font-size: 40px;
    margin: 20px 0 0 30px;
}

.makeBoard-container {
	display:grid;
	width:100%;
	height:100%;
	justify-items:center;
	align-items:center;
}

.makeBoard-form {
	width:80%;
	height:80%;
	display:grid;
	grid-template-columns:30% 40% 30%;
}

.current-board-status {
	border:1px solid black;
	width:50%;
	margin-left:auto;
}

.boardAddDeleteBtn {
    display: grid;
    justify-content: center;
    align-content: center;
    position: relative;
}

.delete-board-status {
	border:1px solid black;
	width:50%;

}

.arrow-form > i {
	cursor:pointer;

}


.addBoardText {
	width:200px;
	height:30px;
	margin-right:60px;
	position:absolute;
	top:238px;
	left:150px;
}


.boardAddBtn {
	width:100px;
	height:36px;
	background-color: #374760;
	border: none;
	color:white;
	cursor:pointer;
	position: absolute;
	top:238px;
	left:308px;
}


.updateBtn {
	width: 200px;
	height:36px;
	background-color: #374760;
	border: none;
	color:white;
	cursor:pointer;
	position: absolute;
	top: 350px;
	left: 184px;
}
.boardAddBtn:hover, .updateBtn:hover {
	box-shadow: 0 0 3pt 2pt yellow;
}

.boardAddBtn:focus, .updateBtn:focus {
	outline:none;
}

.arrow-form > i {
	margin-left:40px;
	margin-top:30px;
}

.fa-arrow-alt-circle-left, .fa-arrow-alt-circle-right {
	color:#FB8500
}

.fa-arrow-alt-circle-left:hover, .fa-arrow-alt-circle-right:hover {
	opacity:0.5;
}

.current-board-status, .delete-board-status {
	display:grid;
	grid-template-rows:repeat(16, 6%);
	grid-auto-rows:6%;
	overflow:auto;
}

.current-board-status > div, .delete-board-status > div {
	border-bottom: 2px solid black;
}


[class^=addForm_], .deleteForm {
	display:flex;
	justify-content:space-around;
	align-items:center;
	position:relative;
}

[class^=addForm_] > div > i, .deleteForm > div > i {
	cursor:pointer;
	color:#FB8500;
}

.delete-icon, .add-icon {
	position:absolute;
	right:15px;
}

.board-title_, .deleteBoard-title_ {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
    width:100px;
}