@charset "UTF-8";

.memberManage-container {
    width: 90%;
    height: 80%;
    display:grid;
    justify-items:center;
    /* align-items:center; */
    margin-top: 30px;
    overflow: auto;
}

.memberManage-container-form {
    width:80%;
    height:80%;
    /* border:2px solid black; */
    display: grid;
    grid-template-rows: 6% 9%;
}

.member-count {
    border-bottom: 2px solid black;
    /* padding:10px; */
}

.member-content-form {
    display:grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 10% 20% 20% 20% 20% 10%;
    grid-template-rows:5% repeat(10, 20%);
}

.memberManageSearchForm {
     padding:10px;
     position: relative;
     /* margin-top: 10px; */
}

.memberManageBtn {
	width:100px;
	height:30px;
	background-color: #374760;
	border: none;
	border-radius: 10px;
	color:white;
	cursor:pointer;
}

.memberManageBtn:hover {
	box-shadow: 0 0 3pt 2pt yellow;
}

.memberManageBtn:focus {
	outline:none;
}

.member-selectBox {
	background-color: white;
	width: 150px;
	height: 28px;
	position: absolute;
	right:217px;
}

.memeber-search-text {
	width: 180px;
	height: 28px;
	position: absolute;
	right: 38px;
}

.user-image-form {
	width:70px;
	height:70px;
	position: absolute;
}

.member-content-form >:nth-child(-n+6) {
	margin:auto;
}

.member-info {
	/* display:flex; */
	position: relative;
}

.member-id-form {
	font-weight:bold;
}

.member-email-form {
	color:gray;
}

.checkBoxForm, .member-image-form, .member-idEmail-form, .member-id-form, .member-phoneNumber-form, .member-gender-form, .member-authority-form, .member-enabled-form {
	margin:auto;
}

.category-image04 > .fa-address-book {
	color:#FB8500;
}

.modal-body-container {
	display:grid;
	/* width: 100%; */
	height: 100%;
	grid-template-columns: 30% 70%;
	grid-template-rows:50% 50%;
	justify-items: center;
	align-items: center;
	font-size: 16px;
}



.memberManage-body {
	height: 350px;
}

.authority-form {
	width: 300px;
	height:30px;
	background-color:#F0F5FC;
	display:flex;
	align-items:center;
	position:relative;
}

.authority-select {
	width:300px;
	height:30px;
}

.authority-text {
	color:#0073B8;
	margin-left: 10px;
}

.authority-number {
	border-radius:20px;
	background-color:#ADC1D2;
	width:35px;
	text-align:center;
	position:absolute;
	right:15px;

}

.modal-header-container {
	display:flex;
}

.memberManage-text {
	font-size: 20px;
	margin:auto;
}

.selectMember-text, .updateAuthority-text, .memberManage-text {
    color:#576D7D;
    font-weight:bold;	
}

.memberManage-bottom {
    border-top: 1px solid #E5E5E5;

    position:relative;

}

.modal-bottom-container {
	padding:30px;
}

.memberManageUpdateBtn {
	position:absolute;
	right:20px;
	top:20px;
}


.memberManageUpdateBtn {
	width: 120px;
	height:30px;
	background-color: #374760;
	border: none;
	border-radius: 10px;
	color:white;
	cursor:pointer;
}

.memberManageUpdateBtn:hover {
	box-shadow: 0 0 3pt 2pt yellow;
}

.memberManageUpdateBtn:focus {
	outline:none;
}

.member-count-form {
	margin-bottom:10px;
}

[class^=member-id-form_] {
	font-weight:bold;
}

[class^=member-authority_] {
	border-radius:20px;
	border:2px solid #CB9F5E;
	padding:3px;
	color:#CB9F5E;
	font-weight:bold;
}

.member-idEmail-form {
	position:absolute;
	left:110px;
}

.member-searchBtn {
	width: 120px;
	height:28px;
	background-color: #374760;
	border: none;
	color:white;
	cursor:pointer;
	position:absolute;
	right:-81px;
}

.member-searchBtn:hover {
	box-shadow: 0 0 3pt 2pt yellow;
}

.member-searchBtn:focus {
	outline:none;
}