<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">
  
  <!-- 게시물 목록 조회 -->
  <select id="boardList" resultType="com.example.board.dto.boardDTO">
  	SELECT bno, title, content, writer, regDate, viewCnt
  	FROM board
  
  </select>
  <!-- 게시물 작성 -->
  
  
  
  
  <!-- 게시물 수정 -->
  
  
  
  <!-- 게시물 삭제 -->
  
  
  <!-- 게시물 총 개수 -->
  <select id="count" resultType="int">
  	SELECT count(bno)
  	FROM board
  </select>
  
  <!-- 게시물 목록 + 페이징 (끝이 없는 페이징) -->
  <!--  
  displayPost : 페이지번호에 따른 게시판 번호
  ex) 1페이지면 displayPost가 0   -> 실질적으로는 bno가 1부터 시작하기때문에 1부터 ..
      2페이지면 displayPost가 10
  postNum : 한 페이지에 보여줄 게시물 수 (10개 고정)     
   -->
  <select id="listPage" resultType="com.example.board.dto.boardDTO" parameterType="hashmap">
	SELECT bno, title, content, writer, regDate, viewCnt
	FROM board
	ORDER BY bno DESC
	LIMIT #{displayPost}, #{postNum}
  </select>
  
</mapper>