@charset "UTF-8";

html, body {
	height:100%;
	width:100%;
}


.flex-container {
    display:grid;
    width: 90%;
    height: 70%;
    grid-template-rows: 10% 80% 10%;
    margin: 10px 0px 0px 60px;
}

.top-container {
    display:flex;
    margin-top:auto;
    margin-bottom:10px;
}

.main-container {
    display:grid;
    grid-template-rows: repeat(11, auto);
    grid-template-columns: 10% 40% 20% 20% 10%;  
    border:2px solid #EFEFEF;
}

.bottom-container {
	display:flex;
}

.search-form {
	margin-left:auto;
}

.main-container > * {
    border:1px solid #EFEFEF;	
}

.main-container >:nth-child(-n+5) {
	font-weight:bold;
	text-align:center;
}

.board-bno, .board-writer, .board-viewCnt, .board-regDate {
	text-align:center;
}

.board-title-text {
	margin:10px;
}

.board-count {
	font-weight:bold;
}
.board-count-text {
	color:red;
}

.board-title-text:hover {
	opacity:0.5;
}

.currentNum-bold {
	font-weight:bold;
}

.page-number {
	margin:auto;
}