<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminMapper">

	<!-- 게시판 만들기 -->
	<insert id="makeBoard" parameterType="String">
		INSERT INTO board_type(type)
		VALUES(#{type})
	</insert>
	
	<!-- 게시판 지우기 -->
	<delete id="deleteBoard" parameterType="String">
		DELETE
		FROM board_type
		where type = #{type}
	</delete>


	<!-- 해당 admin계정이 들고있는 게시물 제목 가져오기 -->
	<select id="getBoardTitleList" resultType="com.remind.board.dto.BoardType">
		SELECT id, type 
		FROM board_type
	</select>
	
	<!-- 게시판 이름 누르면 해당 게시판에 맞는 List 가져오기 -->
	<select id="getBoardListById" resultType="com.remind.board.dto.MakeBoardDto">
		SELECT b.bno, b.title, b.writer, b.content, b.regDate, b.viewCnt, b.board_type
		FROM makeboard b INNER JOIN board_type t
		ON b.board_type = t.id
		WHERE b.board_type = #{id}
		ORDER BY b.bno desc
	</select>
	
	<!-- 게시판 Id로 게시판 이름 찾기 -->
	<select id="getBoardTitleById" resultType="com.remind.board.dto.BoardType">
		SELECT id, type
		FROM board_type
		WHERE id = #{id}
	</select>
	
	<!-- 게시물 작성 -->
	<insert id="boardWrite" parameterType="com.remind.board.dto.MakeBoardDto">
		INSERT INTO makeboard(title, writer, content, board_type) 
		VALUES(#{title}, #{writer}, #{content}, #{board_type})
	</insert>
	
	<!-- 게시물 수 조회 -->
	<select id="boardCount" parameterType="int" resultType="int">
		SELECT count(bno)
		FROM makeboard
		WHERE board_type = #{id}
	</select>
	
	<!-- user 조회 -->
	<select id="selectMembers" resultType="com.remind.board.dto.UserDto">
	SELECT id, password, email, phoneNumber, gender, image, enabled, authority 
	FROM user
	WHERE authority NOT IN ('ROLE_ADMIN')
	</select>
	
	<!-- user 수 -->
	<select id="userCount" resultType="int">
		SELECT count(id)
		FROM user
	</select>
	
</mapper>