<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">


  <!-- 게시물 목록 -->
  <select id="list" resultType="com.remind.board.dto.BoardDto">
  SELECT bno, title, writer, content, regDate, viewCnt
  FROM board
  </select>
  
  <!-- 총 게시물 수  -->
  <select id="count" resultType="int">
  SELECT count(bno) FROM board   
  </select>
  
  <!-- 게시물 목록 + 페이징 -->
  <select id="listPage" resultType="com.remind.board.dto.BoardDto" parameterType="hashMap">
  SELECT bno, title, writer, content, regDate, viewCnt
  FROM board
  ORDER BY bno desc
  LIMIT #{displayPost}, #{postNum}
  </select>
  
  <!-- 게시물 조회 -->
  <select id="boardDetail" parameterType="int" resultType="com.remind.board.dto.BoardDto">
  SELECT bno, title, writer, content, regDate, viewCnt
  FROM board
  where bno = #{bno}
  </select>
    
  <!-- 게시물 생성 -->
  <insert id="boardWrite" parameterType="com.remind.board.dto.BoardDto">
  INSERT INTO board(title, writer, content)
  VALUES(#{title}, #{writer}, #{content})
  </insert>
  
  
  <!-- 게시물 수정 -->
  <update id="boardUpdate" parameterType="hashMap">
  UPDATE board
  SET title = #{title},
  	  content = #{content}
  WHERE bno = #{bno}
  </update>
  
  
  <!-- 게시물 삭제 -->
  <delete id="boardDelete" parameterType="int">
  DELETE
  FROM board
  where bno = #{bno}
  </delete>
  
  
  
  
  
</mapper>