<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">

	<!-- 회원가입 -->
 	<insert id="userSignUp" parameterType="com.remind.board.dto.UserDto">
 		INSERT INTO user(id, password, email, phoneNumber, gender, image)
 		VALUES(#{id}, #{password}, #{email}, #{phoneNumber}, #{gender}, #{image})
 	</insert>
 
 	<!-- id로 user 조회 -->
 	<select id="getUserById" parameterType="String" resultType="com.remind.board.dto.UserDto">
 		SELECT id, password, email, phoneNumber, gender, image 
 		FROM user
 		where id = #{id}
 	</select>
 	
 	<!-- user id 중복체크 -->
 	<select id="userIdCheck" parameterType="String" resultType="int">
 		SELECT count(id)
 		FROM user
 		WHERE id = #{id}
 	</select>
 
 	<!-- user 마이페이지 수정 -->
 	<update id="mypageUpdate" parameterType="com.remind.board.dto.UserDto">
 		UPDATE user
 		SET password = #{password}, 
 		    email = #{email},
 		    phoneNumber = #{phoneNumber},
 		    image = #{image}
 		WHERE id = #{id}
 	</update>
 	
 	<!-- user 마이페이지 비밀번호 확인 -->
 	<select id="passwordCheck" parameterType="String" resultType="com.remind.board.dto.UserDto">
 		SELECT id, password
 		FROM user
 		WHERE id = #{id}
 	</select>
 	
 	<!-- 로그인 페이지 비밀번호 찾기 (id와 email 일치하는지)-->
 	<select id="checkIdEmail" parameterType="com.remind.board.dto.UserDto" resultType="int">
 		SELECT count(*)
 		FROM user
 		WHERE id = #{id} AND email = #{email}
 	</select>
 	
 	<!-- 로그인 페이지 비밀번호 변경 -->
 	<update id="updatePassword" parameterType="com.remind.board.dto.UserDto">
 		UPDATE USER
 		SET password = #{password}
 		WHERE id = #{id}
 	</update>
 	
 	<!-- 게시물 bookMark 등록 -->
 	<insert id="boardBookMarkInsert" parameterType="hashMap" >
 		INSERT INTO bookMark(id, bno)
 		VALUES(#{id}, #{bno})
 	</insert>
 	
 	<!-- 게시물 bookMark 해제 -->
 	<delete id="boardBookMarkDelete" parameterType="hashMap">
 		DELETE FROM
 		bookMark
 		where id = #{id} AND bno = #{bno}
 	</delete>
 	
 	<!-- user에 따른 게시물 bookMark 상태 -->
 	<select id="boardBookMarkStatus" parameterType="hashMap" resultType="int">
 		SELECT COUNT(*)
 		FROM bookMark
 		WHERE id = #{id} AND bno = #{bno}
 	</select>
 	
 	<!-- 북마크한 게시물 조회 -->
 	<select id="selectBookMarkList" parameterType="hashMap" resultType="com.remind.board.dto.BoardDto">
 		SELECT b.bno, b.title, b.writer, b.content, b.regDate, b.viewCnt
		FROM board b INNER JOIN bookMark k ON b.bno = k.bno
		WHERE k.id = #{id} 
		
		<if test="!searchText.equals('')">
			AND title like concat('%', #{searchText}, '%')
		</if>
		
 	</select>
 	 	
 
</mapper>