<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">

	<!-- 회원가입 -->
 	<insert id="userSignUp" parameterType="com.remind.board.dto.UserDto">
 		INSERT INTO user(id, password, email, phoneNumber, gender, image)
 		VALUES(#{id}, #{password}, #{email}, #{phoneNumber}, #{gender}, #{image})
 	</insert>
 
 	<!-- id로 user 조회 -->
 	<select id="getUserById" parameterType="String" resultType="com.remind.board.dto.UserDto">
 		SELECT id, password, email, phoneNumber, gender, image 
 		FROM user
 		where id = #{id}
 	</select>
 	
 	<!-- user id 중복체크 -->
 	<select id="userIdCheck" parameterType="String" resultType="int">
 		SELECT count(id)
 		FROM user
 		WHERE id = #{id}
 	</select>
 
 	<!-- user 마이페이지 수정 -->
 	<update id="mypageUpdate" parameterType="com.remind.board.dto.UserDto">
 		UPDATE user
 		SET password = #{password}, 
 		    email = #{email},
 		    phoneNumber = #{phoneNumber},
 		    image = #{image}
 		WHERE id = #{id}
 	</update>
 
</mapper>