@charset "UTF-8";
html, body {
	width:100%;
	height:100%;
	background-color:#FDFCF0;
}

.grid-container {
	width:100%;
	height:100%;
	display:grid;
	grid-template-rows:20% 80%;
}

.cgv-nav {
	display:grid;
	grid-template-rows:10% 90%;
}

.cgv-nav-form {
	margin-left:auto;
	padding-right:20px;
}

.cgv-nav-form > *{
	padding:3px;
}
.cgv-nav-form > a {
    text-decoration:none;
    color:black;
}

.cgv-nav-form > a:hover {
	opacity:0.5;
}

.cgv-nav-form-guest, .cgv-nav-form-mypage {
	border-right:2px solid #F1F0E5;

}
.cgv-main-content {
	
}

.cgv-nav-bar-center {
	/* margin:auto; */
	/* width: 100%; */
	/* height: 100%; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	position: relative;
}

.cgv-nav-image-size {
	width:100px;
	height: 80px;
	position: absolute;
	left: 300px;
}

.movie-link {
	margin: 20px;
}
.movie-link > a{
	margin:30px;
	text-decoration:none;
	color:black;
}

.movie-link > a:hover {
	opacity:0.5;
}

#movie_search_btn {
	background-color:red;
	color:white;
	border:none;
	position:absolute;
	top:2px;
	right:0;
	height:21px;
}

.movie-search-form {
	position:relative;
}

.content-flex-container {
	display:flex;
	flex-direction:column;
	margin-left: auto;
}

.list-movie-img {
	width:200px;
	height: 233px;
	border: 6px solid #000000;
}
.cgv-main-content {
	 display:grid;
	 grid-template-columns:20% 20% 20% 20%;
	 justify-items:center;
	 margin-left: 200px;
	 margin-top: auto;
}

.list-rank {
	background: #e71a0f;
	border: 6px solid #000000;
	color: #ffffff;
    font-size: 19px;
    text-align: center;
    line-height: 28px;
    margin-bottom: 4px;
}

.list-img {
	width:100%;
}

.list-content-form {
	margin-bottom:10px;
	font-weight: 500;
}

.list-content-form > * {
	padding:6px;
}

.reserve-btn {
	background-color: red;
	border: none;
	padding: 3px;
	width: 44%;
	font-weight: bold;
	border-radius:8px;
	color: white;
}

.reserve-btn-form {
	position:relative;
}


.fa-clipboard-check {
	position:absolute;
	left:17px;
	top:10px;
	color:white;
}

.fa-egg {
	color:#ECA62E;
}

.reserve-btn:hover {
	cursor:pointer;
}

.reserve-btn:active {
 background-color: #d61d1d;

}
.reserve-btn:focus {
	 outline:none;
}

.list-percent, .list-openingDates {
	color:#666666;
}

.cgv-nav-form a {
	text-decoration:none;
	color:black;
}

.cgv-nav-form a:hover {
	opacity:0.5;
}