@charset "UTF-8";

.video-category {
	font-size:40px;
	margin:20px 0 0 30px;
	display:grid;
	grid-template-rows:10% 30%;

}

.video-container {
    width:100%;
    height:100%;
    display:grid;
    border:2px solid black;
    grid-template-columns:20% 80%;
}

.video-container-form {
	display:flex;
	align-items: center;
	flex-direction:column;
}

..video-container-form > * {
	margin:20px;
} 

.video-search-text {
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    width: 80%;
    height: 30px;
    border:none;
}

.video-search-text:hover, .video-searchBtn:hover {
	box-shadow: 0 0 3pt 2pt yellow;
}

.video-search-text:focus {
	outline:none;
}

.video-write-form {
	background-color:#F5CA00;
	border-radius:10px;
	border:10px solid #374760;
	position:relative;
}

.video-select-form {
	background-color:#EFEFEF;
	width:83%;
	height:30px;
	margin: 10px;
	border-radius: 10px;
}

.video-searchBtn {
	position:absolute;
	right:5px;
	bottom:5px;
	width:275px;
	height:30px;
	background-color: #374760;
	border: none;
	border-radius: 10px;
	color:white;
	cursor:pointer;
}

.video-container-form > div {
	margin:10px;
}

