@charset "UTF-8";


.chatting-container {
    width:100%;
    height:100%;
    display:grid;
    justify-content:center;
}

.chatting-container-form {
    width:80%;
    height:80%;
    margin-top:20px;
}

.nickname-form, .input-message-form {
    display:flex;
}

.message-form {
    border: 2px solid #023047;
    border-radius: 10px;
    width:1000px;
    height: 700px;
    display: grid;
    background-color: #9BBAD8;
    grid-template-rows: repeat(7, 13%);
    grid-auto-rows: 15%;
    overflow: auto;
}

.inputMessageBtn {
	width: 100px;
	height:40px;
	background-color: #374760;
	border: none;
	color:white;
	position: absolute;
	left:997px;
	top:10px;
}

.inputMessageBtn:hover, .exitBtn:hover {
	box-shadow: 0 0 3pt 2pt yellow;
}

.inputMessageBtn:focus, .exitBtn:focus {
	outline:none;
}

.exitBtn {
	width: 100px;
	height:40px;
	background-color: red;
	border: none;
	color:white;
	position: absolute;
	left:1097px;
	top:10px;
}

.senderMessage-image {
	width: 45px;
	height: 45px;
	/* background-color: red; */
	border-radius: 15px;
}

.senderMessage-text-imageForm {
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
}

.senderMessage-text-form {
	display:grid;
	grid-template-columns: 10% 90%;
	margin: 10px;
}

.senderMessage-text {
	width:300px;
	padding:10px;
	min-height: 42px;
	border:1px solid #023047;
	border-radius:10px;
	background-color:white;
}


.senderMessage-date {
	/* margin-left:auto; */
	margin-left: 300px;
}

.senderMessage-message-form {
	display:flex;
	flex-direction:column;
}

.enterChatRoom, .leaveChatRoom {
	background-color: #7a9abc;
	height:25%;
	text-align:center;
}

.myMessage-form {
	display:flex;
	margin-left:auto;
	justify-content: center;
	align-items: center;
}

.myMessage-text {
	width:300px;
	background-color:yellow;
	height:50px;
	border-radius:10px;
	display:flex;
}

.myMessage-span-text {
	margin:auto;
}

.myMessage-date {
	margin-top:70px;
}

.input-message-form {
	position:relative;
}

.input-message-text-form {
	width:1250px;
	height:40px;
	padding:10px;
	margin-top:10px;
}