@charset "UTF-8";

.bookMark-title {
	font-size: 40px;
    margin: 20px 0 0 30px;
}

.bookMark-container {
	width:100%;
	height:100%;
	display:grid;
	justify-items:center;
	align-items:center;

}

.bookMark-form {
	width:80%;
	height:80%;
	display:grid;
	grid-template-columns:20% 25% 13% 15% 25%;
	grid-template-rows: 15% 20% 25% 13% 20%;
	overflow: auto;
} 

[class^=bList_] {
	display:grid;
	border: 3px solid #F4F4F4;
	margin-left: 10px;
	border-radius: 10px;
	cursor: pointer;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(60, 87, 85, 0.41);
    -moz-box-shadow:7px 7px 5px 0px rgba(60, 87, 85, 0.41);
    box-shadow:7px 7px 5px 0px rgba(60, 87, 85, 0.41);
    margin-top:15px;
}

[class^=bList_]:hover {
	opacity:0.5;
}
[class^=bList_] > * {
	padding: 2px;
	margin-bottom: 1px solid black;  
	overflow:hidden; 
	text-overflow:ellipsis; 
	white-space:nowrap;


}

[class^=bList-title_] {
	border-bottom: 1px solid black;
	margin: 11px;
	font-weight: bold;
}

.bookMark-text-form {
	width: 150px;
	height: 24px;
	position: absolute;
	right: 300px;
}

.bookMark-searchBtn {
	width:100px;
	height:30px;
	background-color: #374760;
	border: none;
	color:white;
	cursor:pointer;
	position: absolute;
	right:205px;
}

.bookMark-searchBtn:hover {
	box-shadow: 0 0 3pt 2pt yellow;
}

.bookMark-searchBtn:focus {
	outline:none;
}
   
.bookMark-searchForm {
	position:relative;
}


.bookMark-count {
	position:absolute;
	top:70px;
	left:177px;
	font-weight:bold;
}    