@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html, body {
	width:100%;
	height:100%;
}

.signUp-container {
	width:100%;
	height:100%;
	display:grid;
	align-items:center;
	justify-items:center;
	background-color: #ED6D5C;
	
}

.signUp-form {
	width:20%;
	height:60%;
	border:20px solid #374760;
	display:grid;
	grid-template-rows:20% 13% 13% 13% 13% 13% 13%;
	background-color: #F5CA00;

}

input[type=text], input[type=password] {
	width: 62%;
	height:30px;
}

.signUp-id, .signUp-pwd, .signUp-email, .signUp-phoneNumber, .signUp-gender {
	display:flex;
}

.signUp-id, .signUp-pwd, .signUp-email, .signUp-phoneNumber, .signUp-gender > * {
	justify-content:center;
	position: relative;
}
input[type=text]:focus, input[type=password]:focus {
	outline:none;
	box-shadow: 0 0 3pt 2pt yellow;
	
}

input[type=text], input[type=password] {
	padding:5px;
	margin:10px;
	border:none;
	border-radius:10px;
}

.idCheckBtn{
	width:60px;
	height:32px;
	background-color: #374760;
	border: none;
	border-radius: 10px;
	color:white;
	cursor:pointer;
	position: absolute;
	right: 6px;
	font-size:12px;
	width:55px;
	top:14px;
	
}

.signUpBtn {
    width:250px;
	height:30px;
	background-color: #374760;
	border: none;
	border-radius: 10px;
	color:white;
	cursor:pointer;
}

.idCheckBtn:hover, .signUpBtn:hover {
	box-shadow: 0 0 3pt 2pt yellow;
}

.idCheckBtn:focus, .signUpBtn:hover {
	outline:none;
}

.signUp-btn-form {
	margin:auto;
}

.signUp-gender {
	justify-content:space-around;
	align-items: center;
}

.signUp-image {
	display: grid;
	/* justify-content:center; */
	grid-template-columns: 50% 50%;
	align-items:center;
}


.signUp-image-form {
	display:flex;
}

.default-image {
	width:70px;
	height:70px;
	margin:auto;
}

