<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">

	<!-- 아이디로 user정보 얻어오기 UserDetailService에서 사용 -->
	<select id="getUserById" resultType="com.board.dto.UserDetail">
	select id, password, name, email, phoneNumber, authority, enabled
	from user
	where id=#{user_id}
	</select>
	
	<!-- 회원가입 -->
	<insert id="userSignUp" parameterType="com.board.dto.UserDetail">
	insert into user(id, password, name, email, phonenumber)
	values(#{id}, #{password}, #{name}, #{email}, #{phoneNumber})
	</insert>
	
	<!-- 아이디 중복확인 -->
	<select id="idCheck" resultType="int">
		select count(*)
		from user
		where id = #{id}
	
	</select>
	
	<!-- 아이디 찾기 -->
	<select id="userFindId" resultType="com.board.dto.UserDetail">
		SELECT id, password, name, email, phoneNumber
		FROM user
		WHERE email = #{email} 
	
	</select>
	
</mapper>

