<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>
	</appender>
	
	 <!-- 파일에 로그 찍기! -->
      <appender name="download" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="C:/log/logflie.log"/>
        <param name="Append" value="true"/>
        <param name="dataPattern" value=".yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}] %-5p: %F:%L - %m%n" />
        </layout>
    </appender>
    
    <!-- 디비에 로그 찍기 -->
    <appender name="sqlLogger" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}] %-5p:%m%n"/>
        </layout>
    </appender>
    
	<!-- Application Loggers -->
	<logger name="com.movie.controller" additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
	</logger>
	
	<!-- Application Loggers -->
	<logger name="com.movie.interceptor">
		<level value="debug" />
		<append-ref ref="console"/>
	</logger>


	<!-- SQL (첫번째는 SQL문만, 두번째는 그 SQL로 리턴되는 값을 출력) -->
	<logger name="jdbc.sqlonly" additivity="false">
        <level value="info"/>
        <appender-ref ref="sqlLogger"/>
    </logger>
    <logger name="jdbc.resultsettable" additivity="false">
        <level value="info"/>
        <appender-ref ref="sqlLogger"/>
    </logger>

	<!-- Root Logger -->
	<root>
		<priority value="warn" />
		<appender-ref ref="console" />
	</root>
	
</log4j:configuration>
