@charset "UTF-8";

.boardUpdate-container {
	width:100%;
	height:100%;
}


.boardUpdate-actionForm {
	display:grid;
    width: 85%;
    height: 80%;
    grid-template-rows: 5% 10% 70%;
    margin: 30px 0px 0px 90px;
    border: 2px solid #F4F4F4;
    padding:30px;
    border: 1px solid #E8E8E8;
    border-radius:9px;
}


.boardUpdate-title {
    width:95%;
    height:40px;
    border-radius:7px;
    border:2px solid #E8E8E8;
}

.boardUpdate-file-form {
    margin-top:30px;
    
}

.boardUpdate-file-form > i {
    padding-right:4px;
}

.boardUpdate-content {
    width:95%;
    height: 80%;
    border-radius:7px;
    border:2px solid #E8E8E8;
    /* margin-top:30px; */
}

.boardUpdate-content-form {
   
}

.boardUpdate-writeBtn {
    width:100px;
    height:30px; 
    margin-top:10px;
    margin-left:1260px;
   

}
